<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Configurations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        nav {
            position: fixed;
            left: 0;
            top: 0;
            width: 200px;
            height: 100%;
            background-color: #f8f9fa;
            padding-top: 20px;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            margin: 20px 0;
        }
        nav ul li a {
            text-decoration: none;
            color: #333;
            font-size: 18px;
            display: block;
            padding: 10px;
            transition: background-color 0.3s ease;
        }
        nav ul li a:hover {
            background-color: #007bff;
            color: white;
        }
        .container {
            margin-left: 220px;
            padding: 20px;
        }
        .config-section {
            margin-bottom: 40px;
        }
    </style>

<nav>
    <ul>
        <li><a href="/add_device">
            <i class="fas fa-plus-circle"></i>
            <span class="nav-item">Add Device</span>
        </a></li>
        <li><a href="/configurations">
            <i class="fas fa-cog"></i>
            <span class="nav-item">Configurations</span>
        </a></li>
        <li><a href="/show_configs">
            <i class="fas fa-list"></i>
            <span class="nav-item">Show Configurations</span>
        </a></li>
        <li><a href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item">Logout</span>
        </a></li>
    </ul>
</nav>
</head>


<body>
    <div class="container">
        <h1 class="mt-4">Configurations</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

<form action="/configurations" method="POST">
    <div class="form-group">
        <label for="selected_device">Select Device:</label>
        <select class="form-control" id="selected_device" name="selected_device" required>
            <option value="">-- Select Device --</option>
            {% for device in devices %}
                <option value="{{ device.ip }}">{{ device.hostname }}</option>
            {% endfor %}
        </select>
    </div>


        <h3>Create VLAN</h3>
    <div class="form-group">
        <label for="vlan_id">VLAN ID:</label>
        <input type="text" class="form-control" id="vlan_id" name="vlan_id" placeholder="Enter VLAN ID e.g., 10">
    </div>
    <div class="form-group">
        <label for="vlan_name">VLAN Name:</label>
        <input type="text" class="form-control" id="vlan_name" name="vlan_name" placeholder="Enter VLAN Name e.g., Marketing">
    </div>
    <button type="submit" name="action" value="vlan_config" class="btn btn-primary">Create VLAN</button>


    <h3 class="mt-4">Delete VLAN</h3>
    <div class="form-group">
        <label for="vlan_id_delete">VLAN ID:</label>
        <input type="text" class="form-control" id="vlan_id_delete" name="vlan_id_delete" placeholder="Enter VLAN ID e.g., 10">
    </div>
    <button type="submit" name="action" value="delete_vlan" class="btn btn-danger">Delete VLAN</button>


    <h3 class="mt-4">Interface Configuration</h3>
    <div class="form-group">
        <label for="interface">Interface:</label>
        <input type="text" class="form-control" id="interface" name="interface" placeholder="Enter Interface (e.g., GigabitEthernet0/1)">
    </div>
    <div class="form-group">
        <label for="ip_address">IP Address:</label>
        <input type="text" class="form-control" id="ip_address" name="ip_address" placeholder="Enter IP Address e.g., 192.168.1.1">
    </div>
    <div class="form-group">
        <label for="subnet_mask">Subnet Mask:</label>
        <input type="text" class="form-control" id="subnet_mask" name="subnet_mask" placeholder="Enter Subnet Mask e.g., 255.255.255.0">
    </div>
    <label for="noswitchport">No Switchport:</label>
    <input type="checkbox" name="noswitchport" value="yes">
    <button type="submit" name="action" value="interface_config" class="btn btn-primary">Configure Interface</button>


    <h3 class="mt-4">Remove IP Address from Interface</h3>
    <div class="form-group">
        <label for="no_interface">Interface:</label>
        <input type="text" class="form-control" id="no_interface" name="no_interface" placeholder="Enter Interface e.g., GigabitEthernet0/1">
    </div>
    <div class="form-group">
        <label for="no_ip_address">IP Address:</label>
        <input type="text" class="form-control" id="no_ip_address name="no_ip_address" name="no_ip_address" placeholder="Enter IP Address e.g., 192.168.1.1">
    </div>
    <div class="form-group">
        <label for="no_subnet_mask">Subnet Mask:</label>
        <input type="text" class="form-control" id="no_subnet_mask" name="no_subnet_mask" placeholder="Enter Subnet Mask e.g., 255.255.255.0">
    </div>
    <label for="switchport">Switchport:</label>
    <input type="checkbox" name="switchport" value="yes">
    <button type="submit" name="action" value="no_ipaddress" class="btn btn-warning">Remove IP Address</button>



    <h3 class="mt-4">Switchport Mode Configuration</h3>

    <label for="interface_name">Interface Name:</label>
    <input type="text" id="interface_name" name="interface_name" placeholder="Ethernet0/1" ><br><br>

    <label for="mode1">Interface Mode:</label>
    <input type="text" id="mode1" name="mode1" placeholder="access/trunk" ><br><br>

    <label for="vlan_number">VLAN Number:</label>
    <input type="text" id="vlan_number" name="vlan_number" placeholder="10" ><br><br>

    <input type="submit" name="action" value="sw_mode"><br><br>

    <h3 class="mt-4">Remove Switchport Mode Configuration</h3>
    
    <label for="no_interface_name">Interface Name (for removal):</label>
    <input type="text" id="no_interface_name" name="no_interface_name" placeholder="Ethernet0/1" ><br><br>

    <label for="mode2">Remove Interface Mode:</label>
    <input type="text" id="mode2" name="mode2" placeholder="access/trunk" ><br><br>

    <label for="no_vlan_number">VLAN Number (for removal):</label>
    <input type="text" id="no_vlan_number" name="no_vlan_number" placeholder="10" ><br><br>

    <input type="submit" name="action" value="no_sw_mode">

    

    <h3 class="mt-4">IP Default Gateway</h3>
    <div class="form-group">
        <label for="default_gateway">Default Gateway:</label>
        <input type="text" class="form-control" id="default_gateway" name="default_gateway" placeholder="Enter Default Gateway e.g., 192.168.1.254">
    </div>
    <button type="submit" name="action" value="ip_default_gateway" class="btn btn-primary">Set Default Gateway</button>

    <h3 class="mt-4">Remove Default Gateway</h3>
    <button type="submit" name="action" value="no_ip_default_gateway" class="btn btn-danger">Remove Default Gateway</button>

    <h3 class="mt-4">VTY Line Configuration</h3>
    <div class="form-group">
        <label for="line_type">VTY Line Type:</label>
        <select class="form-control" id="line_type" name="line_type">
            <option value="0 4">0 4</option>
            <option value="5 15">5 15</option>
        </select>
    </div>
    <div class="form-group">
        <label for="transport_protocol">Transport Protocol:</label>
        <select class="form-control" id="transport_protocol" name="transport_protocol">
            <option value="telnet">Telnet</option>
            <option value="ssh">SSH</option>
            <option value="all">All</option>
        </select>
    </div>
    <button type="submit" name="action" value="vty_line_config" class="btn btn-primary">Configure VTY Lines</button>


    <h3 class="mt-4">Default Route</h3>
    <div class="form-group">
        <label for="default_route">Default Route:</label>
        <input type="text" class="form-control" id="default_route" name="default_route" placeholder="Enter Default Route e.g., 0.0.0.0 0.0.0.0 192.168.1.10">
    </div>
    <button type="submit" name="action" value="default_route" class="btn btn-primary">Set Default Route</button>


    <h3 class="mt-4">Remove Default Route</h3>
    <button type="submit" name="action" value="no_default_route" class="btn btn-danger">Remove Default Route</button>


    <h3 class="mt-4">Static Routes</h3>
    <div class="form-group">
        <label for="destination_network_static">Destination Network:</label>
        <input type="text" class="form-control" id="destination_network_static" name="destination_network_static" placeholder="Enter Destination Network e.g., 192.168.1.0">
    </div>
    <div class="form-group">
        <label for="subnet_mask_static">Subnet Mask:</label>
        <input type="text" class="form-control" id="subnet_mask_static" name="subnet_mask_static" placeholder="Enter Subnet Mask e.g., 255.255.255.0">
    </div>
    <div class="form-group">
        <label for="next_hop_static">Next Hop:</label>
        <input type="text" class="form-control" id="next_hop_static" name="next_hop_static" placeholder="Enter Next Hop e.g., 192.168.1.254">
    </div>
    <button type="submit" name="action" value="static_routes" class="btn btn-primary">Add Static Route</button>


    <h3 class="mt-4">Remove Static Route</h3>
    <div class="form-group">
        <label for="no_destination_network">Destination Network:</label>
        <input type="text" class="form-control" id="no_destination_network" name="no_destination_network" placeholder="Enter Destination Network e.g., 192.168.1.0">
    </div>
    <div class="form-group">
        <label for="no_subnet_mask_static">Subnet Mask:</label>
        <input type="text" class="form-control" id="no_subnet_mask_static" name="no_subnet_mask_static" placeholder="Enter Subnet Mask e.g., 255.255.255.0">
    </div>
    <button type="submit" name="action" value="no_static" class="btn btn-danger">Remove Static Route</button>

    <h3 class="mt-4">OSPF Configuration</h3>
    <div class="form-group">
        <label for="ospf_id">Process ID:</label>
        <input type="text" class="form-control" id="ospf_id" name="ospf_id" placeholder="Enter OSPF Process ID e.g., 1">
    </div>
    <div class="form-group">
        <label for="network_ospf">Network:</label>
        <input type="text" class="form-control" id="network_ospf" name="network_ospf" placeholder="Enter Network e.g., 192.168.1.0">
    </div>
    <div class="form-group">
        <label for="wildcard_ospf">Wildcard Mask:</label>
        <input type="text" class="form-control" id="wildcard_ospf" name="wildcard_ospf" placeholder="Enter Wildcard Mask e.g., 0.0.0.255">
    </div>
    <button type="submit" name="action" value="ospf_config" class="btn btn-primary">Configure OSPF</button>

    <h3 class="mt-4">Remove OSPF</h3>
    <div class="form-group">
        <label for="no_ospf_id">Process ID:</label>
        <input type="text" class="form-control" id="no_ospf_id" name="no_ospf_id" placeholder="Enter OSPF Process ID e.g., 1">
    </div>
    <button type="submit" name="action" value="no_ospf" class="btn btn-danger">Remove OSPF</button>

    <h3 class="mt-4">RIP Configuration</h3>
    <div class="form-group">
        <label for="version_rip">Version:</label>
        <input type="text" class="form-control" id="version_rip" name="version_rip" placeholder="Enter RIP Version e.g., 2">
    </div>
    <div class="form-group">
        <label for="network_rip">Network:</label>
        <input type="text" class="form-control" id="network_rip" name="network_rip" placeholder="Enter Network e.g., 192.168.1.0">
    </div>
    <button type="submit" name="action" value="rip_config" class="btn btn-primary">Configure RIP</button>

    <h3 class="mt-4">Remove RIP</h3>
    <button type="submit" name="action" value="no_rip" class="btn btn-danger">Remove RIP</button>

</form>


        {% if output %}
            <h3 class="mt-4">Command Output:</h3>
            <pre>{{ output }}</pre>
        {% endif %}
        
        <a href="{{ url_for('configurations') }}" class="btn btn-secondary mt-4">Back to Configure Management</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

