<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSH-login</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/login_MM.css">
</head>
<body>
    <div class="box">
        <form action="/login" method="POST" autocomplete="off" class="form">
            <h2 class="page-header text-primary">Login</h2>

            <div class="inputBox">
                <input type="text" name="username" class="form-control" required>
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" id="password" class="form-control" required>
                <a><img style="width: 25px;" src="static/img/hidden.png" onclick="pass()" class="pass-icon" id="pass-icon"></a>
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <input type="submit" value="Login" class="btn btn-success btn-block">
                <!-- <a href="{{ url_for('add_device') }}">Add Device Page</a> -->
            </div>
        </form>
    </div>
</body>
</html>